<%- include("partials/header"); -%>
<br>
<%= contentContact %>
<br><br>
<p>Connect with me on Instagram id - aayush.pundir. I'm active on these platforms and would love to engage with you there</p>
<br>
<p>I'm looking forward to hearing from you and appreciate your interest in Daily Journal! <br><br>

    Cheers,<br>
    Ayush Pundir</p>

<%- include("partials/footer"); -%>

